@page
@model BreakfastBuffet.Pages.KitchenModel
@{
}

<div>
  <div id="Kitchen_Header">
    <h1>
      Welcome to the Kitchen
    </h1>
  </div>
  <div id="Kitchen_SubHeader">
    <p>
      Here you can get a quick overview of how many guests are <br/>
      registered for breakfast.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <ul id="messagesList"></ul>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@microsoft/signalr@3.0.1/dist/browser/signalr.js" crossorigin="anonymous"></script>
<script src="js/JavaScript.js"></script>