@page
@model BreakfastBuffet.Pages.KitchenModel
@{
}

<div>
  <h1>Welcome to the Kitchen</h1> <br/>
  <p>
    Here you can see how many people (adults and children) <br/>
    have reserved a spot at breakfast, have shown up and <br/>
    how many have yet to check in.
  </p>
  <form method="get">
    <label> Date </label>
    <input asp-for="Date" type="date"/>
    <button type="button" id="requestButton"> Request Serving</button>
  </form>
  
  <div class="container">
    <div class="row">
      <ul id="messageList"></ul>
    </div>
  </div>
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/chat.js"></script>
</div>
