@page
@model BreakfastBuffet.Pages.Reservation
@{
}

<div id="Reception_Page">
  <div id="Reception_Header">
    <h1>
      Welcome to the Reception
    </h1>
  </div>
  <div id="Reception_SubHeader">
    <p>
      Here you can indicate how many guests have ordered breakfast for a given date. <br/>
      Each breakfast is separated into child guests and adult guests.
    </p>
  </div>
  <form id="Breakfast_order" method="post">
    <div>
      <label>Adult</label>
      <input asp-for="Input.ReservationsAdult" type="number" />
    </div>
    <div>
      <label>Children</label>
      <input asp-for="Input.ReservationsChild" type="number"/>
    </div>
    <div>
      <label>Room Number</label>
      <input asp-for="Input.RoomNumber" type="number"/>
    </div>
    <div>
      <br/>
      <input asp-for="Input.ReservationDate" type="date"/>
    </div>
    <button type="submit" id="requestButton"> Submit </button>
  </form>
</div>


